/* --Font-- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* --Reset Styles-- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

/* --Styles for mobile screens-- */

@media screen and (min-width: 375px) and (max-width: 768px) {

  /* --Navigation-- */

  .top-bar {
    display: none;
  }

  .main-nav {
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 4em;
    width: 100%;
    position: fixed;
  }

  .main-nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
    border: 0.1em solid white;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0;
    margin: 1em;
  }

  .menu-button i {
    color: white;
    font-size: 1.5em;
  }

  .mobile-menu {
    display: block;
    background-color: #fff;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-image: url(./assets/images/sideBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .mobile-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    z-index: -99;
  }


  .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
    border: 0.1em solid white;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0;
    margin: 1em;
  }

  .close-button i {
    color: white;
    font-size: 1.5em;
  }

  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 5em auto;
    overflow: none;
  }

  .mobile-menu-item {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    color: white;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border: 0.1em solid white;
    border-radius: 0.5em;
  }

  .mobile-menu-link:hover {
    background-color: rgb(21, 21, 134);
    border-radius: 2em;
  }

  /* --Home Section-- */
  #home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    backdrop-filter: blur(0);
  }

  .welcome-msg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: lime; */
    backdrop-filter: blur(0.1em);
  }

  .msg1 {
    color: #f5653d;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .welcome-msg h1 {
    height: fit-content;
    font-size: 2.5em;
    line-height: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
  }

  .msg2 {
    color: #272a31;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 600;
    border: 2px solid #00aa;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px #00aaff;
    margin-top: 35px;
    margin-bottom: 80px;
    margin-left: 2em;
    margin-right: 2em;
  }

  .bold {
    font-weight: 900;
    color: #f5653d;
    text-transform: uppercase;
  }

  .date {
    width: 100%;
    font-size: 20px;
    line-height: 0.9em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    align-self: flex-start;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-left: 1em;
  }

  .date h3 {
    padding-right: 3.5em;
    font-size: 20px;
    line-height: 0.9em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  /* --Main Program Section--*/
  #program {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #program h2 {
    color: white;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    padding: 0.5em;
  }

  #program h2::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .program-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 0.2em;
    padding: 1em;
    margin-bottom: 1em;
  }

  .program-tile {
    position: relative;
    /* Set position to enable pseudo-element */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 0.2em;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 99;
  }

  .program-tile::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 58px;
    border-radius: 10px 20px 20px 10px;
    background-color: #f5653d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: -99;
  }

  .program-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: -99;
  }

  .program-tile:hover {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #272a31;
  }

  .tile-img {
    height: 60px;
    width: 60px;
    border: 0.1em solid #fff;
    overflow: none;
    border-radius: 20px;
  }

  .tile-img i {
    font-size: 3em;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0.2em;
  }

  .program-title {
    font-size: 0.85em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 900;
    padding: 0.5em;
    color: #f5653d;
  }

  .program-desc {
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 200;
    font-style: bold;
    line-height: 1.3em;
    padding: 0.5em;
    color: #fff;
  }

  .joinButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 99;
    background-color: #f5653d;
  }

  /*--Speaker Section-- */
  #speakers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1080px;
    width: 100%;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #speakers h2 {
    color: white;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    padding: 0.5em;
  }

  #speakers h2::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .speaker-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 95%;
    gap: 0.2em;
    padding: 1em;
    margin-bottom: 1em;
    background-color: blueviolet;
    border-radius: 20px;
  }

  .speaker-tile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
    width: 100%;
    gap: 0.2em;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    z-index: 99;
    background-color: lime;
  }

  .speaker-img {
    height: 120px;
    width: 120px;
    border: 0.1em solid #fff;
    overflow: none;
    background-color: red;
    border-radius: 30px;
  }

  .speaker-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;


  }
}

/* --Styles for desktop screens-- */

@media screen and (min-width: 769px) {}

``` ```