/* --Font-- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* --Reset Styles-- */
* {
  margin: 0;
  padding: 0;
  border: 0;

  /* outline: 0; */
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* --Styles for mobile screens-- */

@media screen and (min-width: 375px) and (max-width: 768px) {
  /* --Navigation-- */

  .top-bar {
    display: none;
  }

  .navbar {
    display: none;
  }

  .main-nav {
    background-image: url(./pages/pageAssets/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 4em;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
    border: 0.1em solid white;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0;
    margin: 1em;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 4em;
    width: 100%;
    color: white;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: 0.5em;
  }

  .logo a {
    color: white;
    text-decoration: none;
  }

  .speaker-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .logo a img {
    height: 2.6em;
    width: 10em;
    margin-left: 0.5em;
  }

  .menu-button i {
    color: white;
    font-size: 1.5em;
  }

  .mobile-menu {
    display: block;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-image: url(./pages/pageAssets/sideBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .mobile-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    z-index: -1;
  }

  .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
    border: 0.1em solid white;
    height: 2em;
    width: 2em;
    position: absolute;
    top: 0;
    margin: 1em;
  }

  .close-button i {
    color: white;
    font-size: 1.5em;
  }

  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 5em auto;
  }

  .mobile-menu-item {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    color: white;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border: 0.1em solid white;
    border-radius: 0.5em;
  }

  .mobile-menu-link:hover {
    background-color: rgb(21, 21, 134);
    border-radius: 2em;
  }

  .header {
    width: 100%;
    position: absolute;
  }

  .header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
  }

  /* --Home Section-- */
  #home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 850px;
    width: 100%;
    background-image: url(./assets/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    backdrop-filter: blur(0);
  }

  .welcome-msg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;

    /* background-color: lime; */
    backdrop-filter: blur(0.1em);
  }

  .msg1 {
    color: #f5653d;
    font-size: 1.8em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .welcome-msg h1 {
    height: auto;
    font-size: 2.5em;
    line-height: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
  }

  .msg2 {
    color: #272a31;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 600;
    border: 2px solid #00aa;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px #0af;
    margin-top: 35px;
    margin-bottom: 80px;
    margin-left: 2em;
    margin-right: 2em;
  }

  .bold {
    font-weight: 900;
    color: #f5653d;
    text-transform: uppercase;
  }

  .date {
    width: 100%;
    font-size: 20px;
    line-height: 0.9em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    align-self: flex-start;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-left: 1em;
  }

  .date h3 {
    padding-right: 3.5em;
    font-size: 20px;
    line-height: 0.9em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  /* --Main Program Section-- */
  #program {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #program h2 {
    color: white;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    padding: 0.5em;
  }

  #program h2::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .program-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 0.2em;
    padding: 1em;
    margin-bottom: 1em;
  }

  .program-tile {
    position: relative;

    /* Set position to enable pseudo-element */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 0.2em;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
  }

  .program-tile::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 58px;
    border-radius: 10px 20px 20px 10px;
    background-color: #f5653d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  .program-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .program-tile:hover {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #272a31;
  }

  .tile-img {
    height: 60px;
    width: 60px;
    border: 0.1em solid #fff;
    border-radius: 20px;
  }

  .tile-img i {
    font-size: 3em;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0.2em;
  }

  .program-title {
    font-size: 0.85em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 900;
    padding: 0.5em;
    color: #f5653d;
  }

  .program-desc {
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 300;
    line-height: 1.3em;
    padding: 0.5em;
    color: #fff;
  }

  .joinButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    background-color: #f5653d;
  }

  .see-whole-program {
    display: none;
  }

  /* --Speaker Section-- */
  #speakers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 2em;
  }

  #speakers h2 {
    color: white;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    padding: 0.5em;
  }

  #speakers h2::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .speaker-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 95%;
    gap: 0.5em;
    margin-bottom: 1em;
    border-radius: 20px;
  }

  .speaker-tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%;
    gap: 0.2em;
    color: #272a31;
    border-radius: 10px;
    z-index: 1;
  }

  .speaker-tile::before {
    content: "";
    position: absolute;
    height: 180px;
    width: 90%;
    border-radius: 10px 20px 20px 10px;
    background-color: rgba(192, 171, 159, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .speaker-img {
    height: 100%;
    width: 30%;
    border: 0.1em solid #fff;
    border-radius: 10px;
  }

  .speaker-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 70%;
  }

  .speaker-name {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 800;
    padding: 0.2em;
    color: #fff;
  }

  .speaker-title {
    position: relative;
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 900;
    padding: 0.5em;
    color: #f5653d;
  }

  .speaker-title::after {
    content: "";
    position: absolute;
    display: flex;
    height: 3px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .speaker-description {
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 700;
    line-height: 14px;
    padding: 0.5em;
    color: #fff;
  }

  #show-more-button {
    height: 60px;
    width: 350px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    z-index: 3;
    background-color: #f5653d;
  }

  #show-more-button:hover {
    background-color: #ff3700;
    border-radius: 10px;
    border: 0.1em solid #fff;
    transition: 0.5s;
    cursor: pointer;
  }

  #show-less-button {
    height: 60px;
    width: 350px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    z-index: 3;
    background-color: #ff3700;
  }

  #show-less-button:hover {
    background-color: #f5653d;
    border-radius: 10px;
    border: 0.1em solid #fff;
    transition: 0.5s;
    cursor: pointer;
  }

  #partners {
    display: none;
  }

  footer {
    display: none;
  }
}

/* --Styles for desktop screens-- */

@media screen and (min-width: 769px) {
  /* --Navigation Bar-- */

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3e3e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 2em;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-right: 20px;
  }

  .top-bar ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100%;
  }

  .nav-links li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    z-index: 1;
  }

  .top-bar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .navbar ul li a {
    color: gray;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    padding: 5px 10px;
  }

  .nav-links li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
  }

  .navbar ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
  }

  .logo {
    margin-right: 20px;
  }

  .logo img {
    height: 80px;
  }

  .nav-links {
    list-style: none;
    display: flex;
  }

  .nav-links li {
    margin-right: 10px;
  }

  .header {
    width: 100%;
    position: absolute;
  }

  .header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
  }

  /* --Navigation Bar-- */
  .main-nav {
    display: none;
  }

  /* --Home Section-- */
  #home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    background-image: url(./assets/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    backdrop-filter: blur(0);
    padding: 116px 121px 441px 206px;
    z-index: 0;
  }

  #home::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 2250px;
    width: 100%;
    border-radius: 10px 20px 20px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.1em);
    z-index: -1;
  }

  .welcome-msg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 60%;
    align-self: flex-start;
    backdrop-filter: blur(0.1em);
  }

  .msg1 {
    color: #f5653d;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    align-self: flex-start;
    font-weight: 600;
    padding: 0.5em;
    margin-bottom: 0.8em;
  }

  .welcome-msg h1 {
    height: auto;
    font-size: 3em;
    line-height: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
  }

  .msg2 {
    color: #272a31;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 600;
    border: 2px solid #00aa;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px #0af;
    margin-top: 35px;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .bold {
    font-weight: 900;
    color: #f5653d;
    text-transform: uppercase;
  }

  .date {
    width: 100%;
    font-size: 20px;
    line-height: 0.9em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    align-self: flex-start;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-left: 1em;
  }

  .date h3 {
    padding-right: 3.5em;
    font-size: 20px;
    line-height: 0.9em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  /* --Main Program Section-- */
  #program {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-image: url(./assets/images/navBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  #program h2 {
    color: white;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    padding: 0.5em;
    margin: 0 auto;
    z-index: 0;
  }

  #program h2::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .program-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 0.2em;
    padding: 1em;
    margin-bottom: 1em;
  }

  .program-tile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 200px;
    gap: 0.2em;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
  }

  .program-tile::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
    border-radius: 10px 20px 20px 10px;
    background-color: #f5653d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  .program-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .tile-img {
    height: 60px;
    width: 60px;
    border: 0.1em solid #fff;
    border-radius: 20px;
  }

  .tile-img i {
    font-size: 3em;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0.2em;
  }

  .program-title {
    font-size: 0.85em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 900;
    padding: 0.5em;
    color: #f5653d;
  }

  .program-desc {
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 300;
    line-height: 1.3em;
    padding: 0.5em;
    color: #fff;
  }

  .joinButton {
    display: none;
  }

  .see-whole-program {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    font-size: 1.2em;
    color: #f5653d;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;
    border: 2px solid #f5653d;
    margin-bottom: 1em;
  }

  .see-whole-program:hover {
    background-color: #f5653d;
    color: #fff;
    transition: 0.3s ease-in-out;
  }

  /* --Speaker Section-- */
  #speakers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url(./assets/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 2em;
  }

  #speakers::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1000px;
    width: 100%;
    border-radius: 10px 20px 20px 10px;
    background-color: rgba(255, 252, 252, 0.1);
    backdrop-filter: blur(0.1em);
    z-index: 1;
  }

  #speakers h2 {
    color: #272a31;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 800;
    padding: 0.5em;
    z-index: 1;
  }

  #speakers h2::after {
    content: "";
    display: block;
    height: 5px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .speaker-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 0.5em;
    margin-bottom: 1em;
    border-radius: 20px;
  }

  .speaker-tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 400px;
    gap: 0.2em;
    color: #272a31;
    border-radius: 10px;
    z-index: 1;
  }

  .speaker-tile::before {
    content: "";
    position: absolute;
    height: 180px;
    width: 400px;
    border-radius: 10px 20px 20px 10px;
    background-color: rgba(61, 27, 7, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .speaker-img {
    height: 100%;
    width: 30%;
    border: 0.1em solid #fff;
    border-radius: 10px;
  }

  .speaker-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .speaker-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 70%;
  }

  .speaker-name {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 800;
    padding: 0.5em;
    color: #fff;
  }

  .speaker-title {
    position: relative;
    font-size: 0.7em;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 900;
    padding: 0.5em;
    color: #f5653d;
  }

  .speaker-title::after {
    content: "";
    position: absolute;
    display: flex;
    height: 3px;
    border-radius: 10px;
    width: 100px;
    background-color: #f5653d;
    margin: 0 auto;
    margin-top: 0.3em;
  }

  .speaker-description {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 700;
    line-height: 14px;
    padding: 0.5em;
    color: #272a31;
  }

  #partners {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 2em;
    z-index: 1;
    background-color: #272a31;
  }

  #partners h3 {
    color: gray;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 800;
    padding: 0.5em;
    z-index: 1;
  }

  .contributors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 0.5em;
    margin-bottom: 1em;
    border-radius: 20px;
    z-index: 1;
  }

  .contributors img {
    height: 75px;
    width: 200px;
    object-fit: contain;
    border-radius: 10px;
  }

  footer {
    height: 245px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    color: #272a31;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    line-height: 28px;
    text-align: center;
    align-self: center;
    font-weight: 400;
    text-decoration: none;
    z-index: 1;
  }

  .logo-text {
    z-index: 1;
  }

  .footer-details p {
    text-align: left;
  }

  .footer-img {
    height: 100px;
    width: 30%;
    object-fit: contain;
    border-radius: 10px;
    z-index: 1;
  }

  .footer-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  .footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    z-index: 1;
    padding-left: 20px;
  }
}
